<h2 id="request-title"> Request for '<%=@rental.name%>'</h2>

<form action='/request/<%= @booking_id %>/<%= @rental.id %>' method='post'>
  <input type='hidden' name='status' value='Approved'>
  <button type='submit' class="btn btn-success btn-lg">Confirm Request</button>
</form>

<form action='/request/<%= @booking_id %>/<%= @rental.id %>' method='post'>
  <input type='hidden' name='status' value='Rejected'>
  <button type='submit' class="btn btn-danger btn-lg">Reject Request</button>
</form>
