<h1> Request for '<%=@rental.name%>'</h1>

<form action='/request/<%= @booking_id %>/<%= @rental.id %>' method='post'>
  <input type='hidden' name='status' value='Approved'>
  <input type='submit' value='Confirm Request'>
</form>


<form action='/request/<%= @booking_id %>/<%= @rental.id %>' method='post'>
  <input type='hidden' name='status' value='Rejected'>
  <input type='submit' value='Reject Request'>
</form>
